<footer>
    <!-- <img (click)="scrollToTop()" id="backToTop" src="../../../assets/footer-assets/backtotop.png"> -->
    <div class="wrapper">
        <div id="logoContainer">
            <img id="logo" src="../../../assets/footer-assets/logo_footer.png">
        </div>
        <div id="nav">
            <li>Scarica App</li>
            <li>Funzionalità</li>
            <li>Contatti</li>
            <li>Privacy</li>
        </div>
        <div id="login">
            <li>Registrati</li>
            <li>Accedi</li>
        </div>
        <div id="social">
            <p id="socialText">SEGUICI SU</p>
            <img src="../../../assets/footer-assets/facebbok.png">
            <img src="../../../assets/footer-assets/twitter.png">
        </div>
    </div>
    <p id="crediti">© 2018 <b>FaiSpesa.it</b> FaiSpesa® Il nuovo modo di fare la spesa™</p>
</footer>