<div class="home">
    <div class="scarica">
        <p id="headText">IL NUOVO MODO<br>DI FAR SPESA!</p>
        <p id="subText">Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit, sed do eiusmod tempor incididunt</p>
        <div class="blu">
            <p id="appText">Scarica l'applicazione per il tuo smartphone</p>
            <div class="imgs">
                <img id="storeImg" src="../../../assets/home-assets/appstore.png">
                <img id="storeImg" src="../../../assets/home-assets/playstore.png">
            </div>
            <p id="appText">oppure <b>Accedi</b> o <b>Registrati</b> alla versione web!</p>
        </div>
        <img id="phone" src="../../../assets/home-assets/phone.png">
    </div>

    <div class="funzionalita">
        <div class="linker">
            <img src="../../../assets/home-assets/arrow_white.png">
        </div>
        <p id="headFunzionalita">Scopri le funzionalità fai la spesa senza pensieri!</p>
        <p id="subFunzionalita">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>

        <div class="container">

            <div class="attivita-left">
                <p id="titolo"><b>Crea e salva la tua lista</b></p>
                <img src="../../../assets/home-assets/home_liste.png">
                <div class="clear"></div>
                <p id="desc">Compri sempre gli stessi articoli oppure<br>aggiungi sempre nuovi prodotti</p>

                <hr>

                <p id="titolo"><b>Invia liste ai tuoi amici</b></p>
                <img src="../../../assets/home-assets/home_share.png">
                <div class="clear"></div>
                <p id="desc">Invia le liste della spesa a chi vuoi<br>e ricevi liste dai tuoi contatti</p>

            </div>

            <div class="attivita-right">
                <p id="titolo"><b>Aggiungi gli ingredienti alle tue ricette</b></p>
                <img src="../../../assets/home-assets/home_ricette.png">
                <div class="clear"></div>
                <p id="desc">Cosa devi preparare per cena?<br>Torta al cioccolato o piatto light?</p>

                <hr>

                <p id="titolo"><b>Aggiungi e spunta gli articoli</b></p>
                <img src="../../../assets/home-assets/home_cart.png">
                <div class="clear"></div>
                <p id="desc">Controlla tutto prima di<br>andare in cassa</p>

            </div>

        </div>

    </div>

    <div class="contatti">
        <div class="linker-blu">
            <img src="../../../assets/home-assets/arrow_blue.png">
        </div>

        <p id="headContatti">Vuoi scriverci un messaggio?</p>
        <p id="subContatti">Il parere dei nostri utenti è molto importante per noi!<br>Se desideri segnalarci problemi o consigliarci qualcosa non esitare a scriverci!</p>

        <input id="mail" type="text" placeholder="Indirizzo Email" />
        <input id="messaggio" type="text" placeholder="Messaggio" />
        <button id="invia">Invia Messaggio</button>
    </div>
</div>