<div class="grid-container">
    <div class="grid-logo">
        <img src="assets/logo.png" class="logo" />
    </div>
    <div class="grid-menu">
        <ul class="menu">
            <li class="menu-item">
                <a (click)="goToLists()" class="link-item">Elenco liste </a>
            </li>
            <li class="menu-item">
                <a href="" class="link-item">Ricette</a>
            </li>
            <li class="menu-item-img">
                <a href="" class="profile">
                    <img src="assets/img_profile.png">
                </a>
            </li>
        </ul>
    </div>
</div>