<app-header-after-login [userId]="inputId"></app-header-after-login>
<app-loader *ngIf="loaderCheck"></app-loader>

<div *ngIf="lists.length !== 0" class="subHeader">
    <p id="titleHeader">{{lists.length}} Liste</p>
</div>

<ng-container *ngIf="lists.length === 0">
    <div class="noLists">
        <div class="listContainer">
            <div class="welcomeContainer">
                <p id="welcome">
                    <b>benvenuto!</b>
                </p>
                <p id="subWelcome">
                    <b>Inizia a creare le tue liste!</b>
                </p>
                <img id="listImg" src="../../../assets/home-assets/home_liste.png">
                <p id="subImg">Crea ora la tua prima
                    <br>lista della spesa!</p>
            </div>

            <img id="arrow" src="../../../assets/homeList-assets/arrow_big.png">

            <div class="addDiv">
                <img id="add" src="../../../assets/homeList-assets/aggiungi.png">
            </div>
        </div>
    </div>
</ng-container>

<div class="hasLists">
    <div class="listPopulatedContainer">
        <div class="listWrapper">
            <ng-container *ngFor="let list of lists">
                <div class="listTry">
                    <div id="headerList">
                        <p id="titleHeaderList">{{list.name}}</p>
                    </div>
                    <div id="footerTitleList">
                        <p id="titleFooter">{{list.name}}</p>
                    </div>
                    <div id="footerList">
                        <img id="edit" src="../../../assets/homeList-assets/modify.png" alt="" (click)="openEdit(list.id)">

                        <img (click)="goToDetail(list.id)" id="send" src="../../../assets/homeList-assets/send.png" alt="">
                        <img (click)="openDelete(list.id)" id="delete" src="../../../assets/homeList-assets/delete.png" alt="">
                    </div>
                </div>
                <div id="myEditModal-{{list.id}}" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span (click)="closeEdit(list.id)" class="close">&times;</span>
                            <h2> Modifica Lista </h2>
                        </div>
                        <div class="modal-body">
                            <form class="w3-container">

                                <input [(ngModel)]="list.name" name="listName" type="text" class="w3-input" value="{{list.name}}">

                                <input [(ngModel)]="list.description" name="listDescription" type="text" class="w3-input" value="{{list.description}}">
                                <hr>
                                <button (click)="closeEdit(list.id)" class="w3-btn" style="background-color:white; border:1px solid #58b0e0;">
                                            <h4 style="color: #58b0e0;">Annulla</h4>
                                        </button>
                                <button (click)="editList(list)" class="w3-btn">
                                            <h4>Conferma</h4>
                                        </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="myDeleteModal-{{list.id}}" class="modal">
                    <div class="modal-content" style="height:45%">
                        <div class="modal-header">
                            <span (click)="closeDelete(list.id)" class="close">&times;</span>
                            <h2> Elimina Lista </h2>
                        </div>
                        <div class="modal-body">
                            <form class="w3-container" style="margin-top:15%">
                                <h4> Vuoi eliminare definitivamente la lista {{list.name}} ? </h4>
                                <hr>
                                <button (click)="closeDelete(list.id)" class="w3-btn" style="background-color:white; border:1px solid #58b0e0;">
                                    <h4 style="color: #58b0e0;">Annulla</h4>
                                </button>

                                <button (click)="deleteList(list)" class="w3-btn">
                                    <h4>Conferma</h4>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="addDiv">
            <img (click)="openAdd()" id="add" src="../../../assets/homeList-assets/aggiungi.png">
        </div>

        <div id="myAddModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span (click)="closeAdd()" class="close">&times;</span>
                    <h2> Aggiungi Lista </h2>
                </div>
                <div class="modal-body">
                    <form class="w3-container">
                        <input [(ngModel)]="newListName" name="listName" type="text" class="w3-input">

                        <input [(ngModel)]="newListDesc" name="listDescription" type="text" class="w3-input">
                        <hr>
                        <button (click)="closeAdd()" class="w3-btn" style="background-color:white; border:1px solid #58b0e0;">
                                        <h4 style="color: #58b0e0;">Annulla</h4>
                                    </button>
                        <button (click)="addList(newListName,newListDesc)" class="w3-btn">
                                        <h4>Conferma</h4>
                                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>