<app-header-after-login></app-header-after-login>
<div class="noLists">
    <div class="subHeader">
        <p id="titleHeader">Nessuna lista presente</p>
    </div>
    <div class="listContainer">
        <div class="welcomeContainer">
            <p id="welcome">
                <b>benvenuto!</b>
            </p>
            <p id="subWelcome">
                <b>Inizia a creare le tue liste!</b>
            </p>
            <img id="listImg" src="../../../assets/home-assets/home_liste.png">
            <p id="subImg">Crea ora la tua prima
                <br>lista della spesa!</p>
        </div>

        <img id="arrow" src="../../../assets/homeList-assets/arrow_big.png">

        <div class="addDiv">
            <img id="add" src="../../../assets/homeList-assets/aggiungi.png">
        </div>
    </div>
</div>

<div class="hasLists">
    <div class="subHeader">
        <p id="titleHeader">{{lists.length}} Liste</p>
    </div>
    <div class="listPopulatedContainer">
        <div class="listWrapper">
            <ng-container *ngFor="let list of lists">
                <div class="listTry">
                    <div id="headerList">
                        <p id="titleHeaderList">{{list.name}}</p>
                    </div>
                    <div id="footerTitleList">
                        <p id="titleFooter">{{list.name}}</p>
                    </div>
                    <div id="footerList">
                        <img id="edit" src="../../../assets/homeList-assets/modify.png" alt="" (click)="openEdit()">
                        <img (click)="goToDetail(list.id)" id="send" src="../../../assets/homeList-assets/send.png" alt="">
                        <img (click)="deleteList(list)" id="delete" src="../../../assets/homeList-assets/delete.png" alt="">
                    </div>
                </div>
            </ng-container>

        </div>
        <div class="addDiv">
            <img id="add" src="../../../assets/homeList-assets/aggiungi.png">
        </div>
    </div>
</div>

<div id="myEditModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span (click)="closeEdit()" class="close">&times;</span>
            <h2> Modifica Lista </h2>
        </div>
        <div class="modal-body">
            <form class="w3-container">

                <input name="listName" type="text" class="w3-input">

                <input name="listDescription" type="text" class="w3-input">

                <hr>
                <button (click)="closeEdit()" class="w3-btn" style="background-color:white;
                                                                    border:1px solid #58b0e0;">
                    <h4 style="color: #58b0e0;">Annulla</h4>
                </button>
                <button (click)="updateList(newList)" class="w3-btn">
                    <h4>Conferma</h4>
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>