<app-header-after-login></app-header-after-login>
<div class="noLists">
    <div class="subHeader">
        <p id="titleHeader">Nessuna lista presente</p>
    </div>
    <div class="listContainer">
        <div class="welcomeContainer">
            <p id="welcome"><b>benvenuto!</b></p>
            <p id="subWelcome"><b>Inizia a creare le tue liste!</b></p>
            <img id="listImg" src="../../../assets/home-assets/home_liste.png">
            <p id="subImg">Crea ora la tua prima<br>lista della spesa!</p>
        </div>

        <img id="arrow" src="../../../assets/homeList-assets/arrow_big.png">

        <div class="addDiv">
            <img id="add" src="../../../assets/homeList-assets/aggiungi.png">
        </div>
    </div>
</div>

<div class="hasLists">
    <div class="subHeader">
        <p id="titleHeader">{{lists.length}} Liste</p>
    </div>
    <div class="listPopulatedContainer">
        <div class="listWrapper">
            <!-- <div class="list1">
                <div id="headerList">
                    <p id="titleHeaderList">Macellaio</p>
                </div>
                <div id="footerTitleList">
                    <p id="titleFooter">Macellaio</p>
                </div>
                <div id="footerList">
                    <img id="edit" src="../../../assets/homeList-assets/modify.png" alt="">
                    <img id="send" src="../../../assets/homeList-assets/send.png" alt="">
                    <img id="delete" src="../../../assets/homeList-assets/delete.png" alt="">
                </div>
            </div> -->

            <ng-container *ngFor="let list of lists">
                <div class="list1">
                    <div id="headerList">
                        <p id="titleHeaderList">{{list.name}}</p>
                    </div>
                    <div id="footerTitleList">
                        <p id="titleFooter">{{list.name}}</p>
                    </div>
                    <div id="footerList">
                        <img id="edit" src="../../../assets/homeList-assets/modify.png" alt="">
                        <img id="send" src="../../../assets/homeList-assets/send.png" alt="">
                        <img id="delete" src="../../../assets/homeList-assets/delete.png" alt="">
                    </div>
                </div>
            </ng-container>

            <div class="list2">
                <div id="headerList">
                    <p id="titleHeaderList">Macellaio</p>
                </div>
                <div id="footerTitleList">
                    <p id="titleFooter">Macellaio</p>
                </div>
                <h1 id="initials">MA</h1>
                <div id="footerList">
                    <img id="edit" src="../../../assets/homeList-assets/modify.png" alt="">
                    <img id="send" src="../../../assets/homeList-assets/send.png" alt="">
                    <img id="delete" src="../../../assets/homeList-assets/delete.png" alt="">
                </div>
            </div>

        </div>
        <div class="addDiv">
            <img id="add" src="../../../assets/homeList-assets/aggiungi.png">
        </div>
    </div>
</div>

<app-footer></app-footer>