<div class="grid-container">
    <div class="wrapper">
    </div>
    <img src="assets/logo.png" class="logo" />
    <div class="grid-menu">
        <ul class="menu">
            <li class="menu-item">
                <a href="#scarica" class="link-item">Scarica </a>
            </li>
            <li class="menu-item">
                <a href="#funzionalita" class="link-item">Funzionalità</a>
            </li>
            <li class="menu-item">
                <a href="#contatti" class="link-item">Contatti</a>
            </li>
            <li class="menu-item">
                <a href="" class="link-item">Registrati</a>
            </li>
            <li id="menu-item-login">
                <button href="" id="myBtn" class="link-item" (click)="open()">Accedi</button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-right">
                            <img src="assets/BG_login.jpg" class="img-login">
                            <span (click)="close()" class="close">&times;</span>
                        </div>
                        <div class="modal-header">
                            <img src="assets/faispesa_txt.png" class="login-title">
                            <h2> Accedi </h2>
                        </div>
                        <div class="modal-body">
                            <p>kwfioqfqneg</p>
                            <br>
                            <p>nwfqnifoen</p>
                        </div>
                        <div class="modal-footer">
                            <h4>modal wopqfnpew</h4>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>