<div class="grid-container">
    <div class="gird-logo">
      <img src="assets/logo.png" class="logo"/>
    </div>
    <div class="grid-menu">
        <ul class="menu">
          <li class="menu-item"><a href="" class="link-item">Scarica </a></li>
          <li class="menu-item"><a href="" class="link-item">Funzionalità</a></li>
          <li class="menu-item"><a href="" class="link-item">Contatti</a></li>
          <li class="menu-item"><a href="" class="link-item">Registrati</a></li>
          <li class="menu-item"><a href="" class="link-item">Accedi</a></li>
        </ul>
    </div>
</div>
