<div class="grid-container">
    <div class="wrapper">
    </div>
    <img src="assets/logo.png" class="logo" />
    <div class="grid-menu">
        <ul class="menu">
            <li class="menu-item">
                <a href="/home#scarica" class="link-item">Scarica </a>
            </li>
            <li class="menu-item">
                <a href="/home#funzionalita" class="link-item">Funzionalità</a>
            </li>
            <li class="menu-item">
                <a href="/home#contatti" class="link-item">Contatti</a>
            </li>
            <li class="menu-item">
                <button href="" id="myBtn" class="link-item" (click)="openRegister()">Registrati</button>

                <div id="myModalRegister" class="modal">
                    <div class="modal-content">
                        <div class="modal-right">
                            <img src="assets/BG_login.jpg" class="img-login">
                            <span (click)="closeRegister()" class="close">&times;</span>
                        </div>
                        <div class="modal-header">
                            <img src="assets/faispesa_txt.png" class="login-title">
                            <h2> Crea un Account </h2>
                        </div>
                        <div class="modal-body">
                            <form class="w3-container">
                                <label class="label">Nome e cognome</label>
                                <br>
                                <input [(ngModel)]="newUser.name" name="name" type="text" class="w3-input">
                                <br>
                                <label class="label">E-mail</label>
                                <br>
                                <input [(ngModel)]="newUser.email" name="email" type="text" class="w3-input">
                                <br>
                                <label class="label">Password</label>
                                <br>
                                <input [(ngModel)]="newUser.password" name="password" type="password" class="w3-input">
                                <button (click)="doSignUp(newUser)" class="w3-btn">
                                    <h4>Registrati</h4>
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <h6 (click)="openLogin()" (click)="closeRegister()" class="h6-footer">Hai già un account</h6>
                        </div>

                    </div>
                </div>

            </li>
            <li class="menu-item">

                <button href="" id="myBtn" class="link-item" (click)="openLogin()">Accedi</button>
                <div id="myModalLogin" class="modal">
                    <div class="modal-content">
                        <div class="modal-right">
                            <img src="assets/BG_login.jpg" class="img-login">
                            <span (click)="closeLogin()" class="close">&times;</span>
                        </div>
                        <div class="modal-header">
                            <img src="assets/faispesa_txt.png" class="login-title">
                            <h2> Accedi </h2>
                        </div>
                        <div class="modal-body">
                            <form class="w3-container">
                                <label class="label">Username</label>
                                <br>
                                <input [(ngModel)]="username" name="username" type="text" class="w3-input">
                                <br>
                                <label class="label">Password</label>
                                <br>
                                <input [(ngModel)]="password" name="password" type="password" class="w3-input">
                                <button (click)="doLogin()" class="w3-btn">
                                    <h4>Accedi</h4>
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <h6 class="h6-footer">oppure</h6>
                            <h3 class="h3-footer" (click)="openRegister()" (click)="closeLogin()">Crea un Account</h3>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>