<app-header-after-login></app-header-after-login>
<div class="introduzionePagina">
    <a id="testoBenvenuto">Benvenuto </a>
    <a id="nomeUtente">Mario Bianchi</a>
    <br>
    <a id="spiegazione">Modifica le impostazioni di base del tuo account</a>
</div>
<hr>
<img id="profileImage" src="../../../assets/profile-assets/profileImage.png">
<img id="photo" src="../../../assets/profile-assets/photo.ico">
<div class="datiUtente">
    <a id="nome">Nome utente</a><br>
    <a id="userName">Mario Bianchi</a><br>
    <hr id="separatore">
    <a id="email">E-mail</a><br>
    <a id="userEmail">mario.bianchi@gmail.com</a>
</div>
<app-footer></app-footer>