<app-header-after-login></app-header-after-login>
<ng-container *ngIf="user">
    <div class="introduzionePagina">
        <a id="testoBenvenuto">Benvenuto </a>
        <a id="nomeUtente">{{user.name}}</a>
        <br>
        <a id="spiegazione">Modifica le impostazioni di base del tuo account</a>
    </div>
    <hr>
    <img id="profileImage" src="../../../assets/profile-assets/maledetta.jpg">
    <img id="photo" src="../../../assets/profile-assets/photo.ico">
    <div class="datiUtente">
        <a id="nome">Nome utente</a><br>
        <a id="userName">{{user.name}}</a><br>
        <hr id="separatore">
        <a id="email">E-mail</a><br>
        <a id="userEmail">{{user.email}}</a>
    </div>
</ng-container>