<app-header-after-login></app-header-after-login>
<app-loader *ngIf="loaderCheck"></app-loader>

<div *ngIf="nLists !== undefined" class="subHeader">
    <p (click)="goBack()" id="titleHeader">{{nLists}} Liste > {{listName}}</p>
</div>

<div [sortablejs]="products">
    <ng-container *ngFor="let product of products; index as i">
        <div class="detailContainer">
            <div id="wrapper-{{product.id}}" class="wrapper">
                <div id="imageContainer">
                    <img src="../../../assets/list-detail-assets/product_6.png">
                </div>

                <div id="name-{{product.id}}" class="nameContainer">
                    <h3>{{product.name}}</h3>
                </div>

                <div id="doseContainer">
                    <h3>{{product.dose}}</h3>
                </div>

                <div id="quantityContainer">
                    <h3>{{product.quantity}}</h3>
                </div>

                <div id="optionsContainer">
                    <img (click)="showEdit(product.id)" src="../../../assets/generic-assets/more.png">
                </div>
            </div>

            <div id="pin-{{product.id}}" class="pinned"></div>

            <div id="{{product.id}}" class="wrapperMenu">
                <img src="../../../assets/list-detail-assets/drag&drop.png" alt="">
                <img src="../../../assets/homeList-assets/modify.png" alt="">
                <img (click)="deleteProduct(product)" src="../../../assets/homeList-assets/delete.png" alt="">
                <img (click)="pinProduct(product.id)" src="../../../assets/list-detail-assets/cancel white.png" alt="">
            </div>
        </div>
    </ng-container>
    <div class="addDiv">
        <img (click)="openAdd()" id="add" src="../../../assets/homeList-assets/aggiungi.png">
    </div>
</div>