<app-header-after-login></app-header-after-login>
<div class="subHeader">
    <p (click)="goBack()" id="titleHeader">{{nLists}} Liste > {{listName}}</p>
</div>


<ng-container *ngFor="let product of products; index as i">
    <div id="wrapper">
        <div id="imageContainer">
            <img src="../../../assets/list-detail-assets/product_6.png">
        </div>

        <div id="nameContainer">
            <h3>{{product.name}}</h3>
        </div>

        <div id="doseContainer">
            <h3>{{product.dose}}</h3>
        </div>

        <div id="quantityContainer">
            <h3>{{product.quantity}}</h3>
        </div>

        <div id="optionsContainer">
            <img (click)="showEdit(product.id)" src="../../../assets/generic-assets/more.png">
        </div>
    </div>

    <div id="{{product.id}}" class="wrapperMenu">
        <img src="../../../assets/list-detail-assets/drag&drop.png" alt="">
        <img src="../../../assets/homeList-assets/modify.png" alt="">
        <img src="../../../assets/homeList-assets/delete.png" alt="">
        <img src="../../../assets/list-detail-assets/cancel white.png" alt="">
    </div>
</ng-container>