<app-header-after-login [userId]="userId"></app-header-after-login>
<app-loader *ngIf="loaderCheck"></app-loader>

<div *ngIf="nLists !== undefined" class="subHeader">
    <p (click)="goBack()" id="titleHeader">{{nLists}} Liste > {{listName}}</p>
</div>

<div [sortablejs]="products">
    <ng-container *ngFor="let product of products; index as i">
        <div class="detailContainer">
            <div id="wrapper-{{product.id}}" class="wrapper">
                <div id="imageContainer">
                    <img src="../../../assets/list-detail-assets/product_6.png">
                </div>

                <div id="name-{{product.id}}" class="nameContainer">
                    <h3>{{product.name}}</h3>
                </div>

                <div id="doseContainer">
                    <h3>{{product.dose}}</h3>
                </div>

                <div id="quantityContainer">
                    <h3>{{product.quantity}}</h3>
                </div>

                <div id="optionsContainer">
                    <img (click)="showEdit(product.id)" src="../../../assets/generic-assets/more.png">
                </div>
            </div>

            <div id="pin-{{product.id}}" class="pinned"></div>

            <div id="{{product.id}}" class="wrapperMenu">
                <img src="../../../assets/list-detail-assets/drag&drop.png" alt="">
                <img (click)="openEditItem(product.id)" src="../../../assets/homeList-assets/modify.png" alt="">
                <img (click)="deleteProduct(product)" src="../../../assets/homeList-assets/delete.png" alt="">
                <img (click)="pinProduct(product.id)" src="../../../assets/list-detail-assets/cancel white.png" alt="">
            </div>
        </div>
    </ng-container>

    <div class="addDiv">
        <img (click)="openAdd()" id="add" src="../../../assets/homeList-assets/aggiungi.png">
    </div>

    <div id="myAddModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span (click)="closeAdd()" class="close">&times;</span>
                <h2> Aggiungi Prodotto </h2>
            </div>
            <div class="modal-body">
                <form class="w3-container">
                    <input [(ngModel)]="newProductName" name="productName" type="text" class="w3-input" placeholder="Nome prodotto">

                    <input [(ngModel)]="newProductDose" name="productDose" type="text" class="w3-input" placeholder="Dose">

                    <input [(ngModel)]="newProductQuantity" name="productQuantity" type="text" class="w3-input" placeholder="Quantità">
                    <hr>
                    <button (click)="closeAdd()" class="w3-btn" style="background-color:white; border:1px solid #58b0e0;">
                        <h4 style="color: #58b0e0;">Annulla</h4>
                    </button>
                    <button (click)="addProduct()" class="w3-btn">
                        <h4>Conferma</h4>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let product of products">
        <div id="myEditItem-{{product.id}}" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span (click)="closeEditItem(product.id)" class="close">&times;</span>
                    <h2 style="margin-top: 3%"> Modifica Prodotto </h2>
                </div>
                <div class="modal-body">
                    <form class="w3-container">

                        <input [(ngModel)]="product.name" name="productName" type="text" class="w3-input" value="{{product.name}}">

                        <input [(ngModel)]="product.dose" name="productDose" type="text" class="w3-input" value="{{product.dose}}">

                        <input [(ngModel)]="product.quantity" name="productQuantity" type="text" class="w3-input" value="{{product.quantity}}">

                        <hr>
                        <button (click)="closeEditItem(product.id)" class="w3-btn" style="background-color:white; border:1px solid #58b0e0;">
                                            <h4 style="color: #58b0e0;">Annulla</h4>
                                        </button>
                        <button (click)="editProduct(product)" class="w3-btn">
                                            <h4>Conferma</h4>
                                        </button>
                    </form>
                </div>
            </div>
        </div>
    </ng-container>
</div>